<h1>Witaj w moim sklepie</h1>

<p>
  Kategorie:
  <ul>
    <% @categories.each do |category| %>
        <li>
          <%= category.name %>
          - <a href="/categories/<%= category.id %>">Zobacz</a>
        </li>
    <% end %>
  </ul>
</p>

<p>
  Lista dostępnych produktów:
  <ul>
    <% @products.each do |product| %>
        <li>
          <%= product.name %>
          - <a href="/products/<%= product.id %>">Zobacz</a>
        </li>
    <% end %>
  </ul>
</p>

